html, body {
	margin: 0 auto;
	padding: 0;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

body { 
	text-align: center; /* for IE */
	background-color:#0E2634;
}

#container {
	width: 1000px;
	margin: 0px auto;
	/*padding: 30px;*/
	padding: 10px 87px 0px 87px;
}

#bgwrap {
	width: 1000px;
	margin: 0px auto;
	/*padding-top: 10px;*/
}

#bg {
	float: left;
	width: 1000px;
	height: 978px;
	margin: 0px auto;
	background: url("../images/main.png");background-repeat:no-repeat;
	background-color:#0E2634;
}

#maincontentwrap {
	float: left;
	width: 1000px;
	height: 830px;
	/*padding: 0px 87px;
	background-color: red;*/
}

#logowrap {
	width: 830px;
	height: 113px;
	/*background-color: green;*/
	margin:auto;
	padding-top: 20px;
}

#logoleft {
	float: left;
	width: 113px;
}

#logocentre {
	float: left;
	width: 600px;
}

#logoright {
	float: left;
	width: 113px;
}

#logocentre h1 {
	margin: 0px;
	padding-top: 5px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	color: #FFF;
	font-smooth: always;
}

#logocentre h2 {
	margin: 0px;
	padding-top: 5px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 18px;
	color: #FFF;
	font-smooth: always;
}

#nav {
	margin:auto;
	width: 830px;
	/*background-color: green;*/
}

#nav ul { 
   margin: 0;
   padding: 30px 0px;
   list-style-type: none;
   text-align: left;
}

#nav li {
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #FFF;
	margin-right: 15px;
}

#nav li:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
    background-color:#E0F1EA;
    color: #000;
	cursor:pointer;
}

#nav a {
	text-decoration: none;
	color: #FFF;
}

#nav li a:hover{
    color: #000;
	cursor:hand;
}

/* Home page nav */
#navhome {
	margin:auto;
	width: 830px;
	/*background-color: green;*/
}

#navhome ul { 
   margin: 0;
   padding: 30px 0px;
   list-style-type: none;
   text-align: left;
}

#navhome li {
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #FF9900;
	margin-right: 15px;
}

#navhome li:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
    background-color:#E0F1EA;
    color: #000;
	cursor:pointer;
}

#navhome a {
	text-decoration: none;
	color: #FF9900;
}

#navhome li a:hover{
    color: #000;
	cursor:hand;
}
/* end home page nav */


#hpmaincontupper {
	margin:auto;
	width: 830px;
	/*background-color: red;*/
}

.mainupper {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFCC;
}

#hpmaincontupper p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: left;
	padding-top: 10px;
}

.weblinks {
	text-decoration: none;
	color: #FFFFCC;
}

#hpmaincontlower {
	margin:auto;
	width: 830px;
	/*background-color: red;*/
	padding-top: 20px;
}


#hpmaincontlowerleft {
    float: left;
	width: 395px;
	text-align: justify;
	padding-right: 20px;
}

#hpmaincontlowerright {
    float: left;
	width: 395px;
	text-align: justify;
	padding-left: 20px;
}

.mainlowerhead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #FF9900;
}

.mainlower {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFCC;
}

#hpmaincontact {
    clear: both;
	margin:auto;
	width: 830px;
	padding-top: 30px;
}

#hpmaincontact p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFCC;
}

#hpmaincontact a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFCC;
	text-decoration: none;
}

/* Contact page */

#contactformwrap {
	margin:auto;
	width: 830px;
	padding-top: 20px;
	/*background-color: red;*/
}


#contactformleft {
    float: left;
	width: 395px;
	text-align: justify;
	padding-right: 20px;
}

#contactformright {
    float: left;
	width: 375px;
	text-align: justify;
	padding-left: 40px;
}

#contactformiconwrap {
    float: left;
	width: 395px;
}

#contactformiconleft {
	float: left;
	width: 100px;
}

#contactformiconright {
	float: left;
	width: 205;
	padding-top: 5px;
}


.contactformlowerhead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #FF9900;
}

#contactform p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #FFFFCC;
	margin: 0px;
}

#contactform input {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   width: 360px;
   height: 20px;
   margin-bottom: 20px;
   background-color: #CCCCCC;
}

#contactform textarea {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   width: 360px;
   height: 200px;
   background-color: #CCCCCC;
}

.contactformrighthead {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	color: #FFFFCC;
	margin: 0px;
}

.contactformrightnorm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #FFFFCC;
}

.contactformrightbold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #FFFFCC;
	font-weight: bold;
}

.contactformsubmit {
	width: 100px;
	height: 30px;
}

#presscontent {
	margin:auto;
	width: 830px;
	/*background-color: red;*/
}

#presscontent p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	color: #FFFFCC;
}

#presscontent a {
	text-decoration: none;
	color: #FF9900;
}


#footerwrap {
    clear: both;
	margin:auto;
	width: 830px;
	padding-top: 30px;
}

#footerleft {
	float:left;
	width: 415px;
}

#footerright {
	float:left;
	width: 415px;
}

#footerwrap p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	color: #FFF;
}

#footerright p {
	text-align: right;
}

#footerliswrap {
    clear: both;
	margin:auto;
	width: 830px;
}

#footerlis {
	width: 830px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #336699;
}

#footerlis a {
	text-decoration: none;
	color: #336699;
	cursor: pointer;
}